<h3><center>Welcome to Trem</center></h3>


<div class="form-group">
  <form class="access" action="/cities" method="get">
    <button type="submit" class="btn btn-warning btn-lg">Access Cities</button>
  </form>
  <form class="access" action="/trains" method="get">
    <button type="submit" class="btn btn-warning btn-lg">Access Trains</button>
  </form>
</div>
