<h4>Add a new train:</h4>

<form action="/trains" method="post">
  <div class="form-group">
    <input name="train_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add train</button>
</form>
<br>
<p><a href="/trains">Return to trains page</a></p>
<p><a href="/">Return to home</a></p>
