<h4>Add a new city:</h4>

<form action="/cities" method="post">
  <div class="form-group">
    <input name="city_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add city</button>
</form>
<br>
<p><a href="/cities">Return to cities page</a></p>
<p><a href="/">Return to home</a></p>
